.form-container {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 20%;
  right: 20%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(1000);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem lightgrey;
  padding: 2rem 4rem;
  overflow: auto;
}

.form-container>div {
  margin-bottom: 2rem;
}

@media(max-width: 76rem) {
  .form-container {
    left: 3%;
    right: 3%;
  }
}